<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pythonchip.mapper.ReviewMapper">
	
	<insert id="insertReview" parameterType="ReviewDTO">
		insert into review values(review_seq.nextval,5,'test',sysdate,#{rev_content},20)
	</insert>
	
	<select id="showReview" resultType="ReviewDTO">
		select * from review where store_seq=4
	</select>
	
</mapper>
