<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pythonchip.mapper.ReviewMapper">
	
	<insert id="insertReview" parameterType="ReviewDTO">
		insert into review values(review_seq.nextval,#{store_seq},#{id},sysdate,#{rev_content},#{grade})
	</insert>
	
	<select id="showReview" resultType="ReviewDTO">
		select * from review where store_seq=#{seq}
	</select>
	
</mapper>
