<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pythonchip.mapper.StoreMapper">

<select id="getStoreList" resultType="StoreDTO">
select * from Store
</select>

<select id="getStoreOne" resultType="StoreDTO" parameterType="String">
select * from Store where store_seq=${value}
</select>

<select id="getStoreNameSearchList" resultType="StoreDTO" parameterType="String">
select * from Store where store_name LIKE'%${value}%' 
</select>


<select id="getStoreLocationSearchList" resultType="StoreDTO" parameterType="String">
select * from Store where location_gu||' '||location_dong LIKE'%${value}%' 
</select>

<select id = "getStoreForMenuSearchList" resultType="StoreDTO" parameterType="String">
select * from Store where store_seq in
(select store_seq from Menu where menu_name LIKE'%${value}%' group by store_seq)
</select>


<select id = "getStoreForKeywordSearchList" resultType="StoreDTO" parameterType="String">
select * from Store where keyword LIKE'%${value}%'
</select>

</mapper>