<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="com/pythonchip/db/db.properties" />

	<typeAliases>
		<typeAlias type="com.pythonchip.model.StoreDTO"
			alias="StoreDTO" />
		<typeAlias type="com.pythonchip.model.MenuDTO"
			alias="MenuDTO" />
		<typeAlias type="com.pythonchip.model.ReservationDTO"
			alias="ReservationDTO" />
		<typeAlias type="com.pythonchip.model.ReviewDTO"
			alias="ReviewDTO" />
		<typeAlias type="com.pythonchip.model.MemberDTO"
			alias="MemberDTO" />
		<typeAlias type="com.pythonchip.model.BoardDTO"
			alias="BoardDTO" />

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/pythonchip/mapper/StoreMapper.xml"></mapper>
		<mapper resource="com/pythonchip/mapper/MenuMapper.xml"></mapper>
		<mapper resource="com/pythonchip/mapper/ReservationMapper.xml"></mapper>
		<mapper resource="com/pythonchip/mapper/ReviewMapper.xml"></mapper>
		<mapper resource="com/pythonchip/mapper/MemberMapper.xml"></mapper>
		<mapper resource="com/pythonchip/mapper/BoardMapper.xml"></mapper>

	</mappers>
</configuration>